*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: white ;
    width: 100%;
}
.header{
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background-size: cover;
    background-position: right;
    right: 0;
    background-color: hsl(353, 100%, 62%);
    text-align: center;
    border-radius: 0rem 0rem 0rem 6rem;
    padding-bottom: 5rem;
    border: 1px solid hsl(353, 100%, 62%);
    max-width: 100%;
    min-height: 30vw;
    font-weight: bold;
    
    
}
.navs{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    font-size: 16px;
    
}

  .left-nav{
    margin-right: 15rem;
  }  
.left-nav a{
    color: white;
    margin: 5px;
}
.right-nav a{
    margin: 5px;
    color: white;
}
.right-nav span{
    color: hsl(13, 100%, 72%) ;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    

}
.bottom-nav a{
   margin: 1rem;
   border: 1px solid white;
   border-radius: 10px;
   padding: 0.5rem;
   color: hsl(13, 100%, 72%);
   background-color: white;
   max-width: 100%;
}
.bottom-nav span a{
    color: white;
    border: 1px solid white;
    background-color: hsl(13, 100%, 72%);
    padding: 0.5rem;
    max-width: 100%;
}
.header h1{
    padding-top: 3rem;
    color:white;
    font-size: 3rem;
}
.header p{
    padding: 1rem;
    color: white;
}
.bottom-nav{
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.content-1{
    color: hsl(237, 23%, 32%) ;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-bottom: 2rem;

}
.content-0 h2{
    text-align: center;
    padding: 3rem;
}
.content-1 h3{
    padding: 1rem;
}
.content-1 p{
    padding-bottom: 2rem;
}
.content-2{
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: hsl(237, 23%, 32%)  ;
    border: 1px solid  hsl(237, 23%, 32%);
    border-radius: 0rem 6rem 0rem 6rem;
    font-size: 16px;
    height: 30vw;
    margin-bottom:10rem ;
    
    
    


}
.content2-img{
    max-width: 100%;

    
}




.content-2 h3{
    padding: 1rem;
    color: hsl(0, 0%, 100%) ;
}
.content-20{
    padding-top: 2rem;
    color: hsl(0, 0%, 100%);
}
.content-3{
    display: flex;
    justify-content: space-between;
    color: hsl(237, 23%, 32%);
    font-size: 16px;
    padding-right: 5rem;
    padding-top: 2rem;
    
    
}
.content-3 img{
    max-width: 100%;
}

.content-3 h3{
    padding: 1rem;

}

.content-30{
    padding-top: 8rem;
}
.footer{
    background-color:hsl(240, 10%, 16%) ;
    color:hsl(240, 2%, 79%) ;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding: 2rem;
    text-align: center;
    margin-top: 1rem;
    border: 1px solid hsl(240, 10%, 16%);
    border-radius: 8rem 0 0 0;
}
.footer p{
  font-size: 1.5rem;
  font-weight: bold;
}
.footer ul li{
    list-style-type: none;
    padding: 1rem;
}

.left-nav a:hover , .right-nav a:hover,
.bottom-nav {
    cursor: pointer;
    color: hsl(237, 23%, 32%);
    opacity: 1;
}

 .bottom-nav a:hover, .right-nav span:hover{
    background: white;
    color: black;
    border-color: white;
}
.bottom-nav span a:hover{
    background-color: black;
    color: white;
    border-color: black;
}
.footer ul li:hover{
    color: white;
}
.img1, .img2, .burger-icon{
    display: none;
    width: 100%;
}
.attribution{
    text-align: center;
    color:hsl(240, 2%, 79%) ;
}
.content-1-mobile, .content-20-Mobile , .content-30-Mobile{
    display: none;
}

@media  screen and (max-width:600px) {
    body{
        text-align: center;
        
    }

    .header{
        min-height: 35vw;
        width: 100%;
        font-weight: bold;
    }
    .header h1{
        font-size: 1rem;
        padding-top: 0.5rem;
        
    }
    
    .bottom-nav{
        margin-top: 0;
        max-width: 100%;
        padding-top: 1rem;
        font-family:sans-serif;
    }
    .bottom-nav s span{
        background-color: inherit;
        color: white;
        border-color: white;
    }
    .content-1 .content-1-mobile,.content-2 .content-20-Mobile ,.content-3 .content-30-Mobile{
        display: block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
    }  
    
    .content-1 p, .content-20 p, .content-30 p{
        display: none;
    }
    
    .content-1{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 7rem;
        margin-left: 0;
        
    }
    .content-1 .img1{
        margin: auto;
    }
    
    
    .content-1 img, .content-3 img{
        
        display: none;
    }
    .content-1 .img1, .content-3 .img2, .right-nav .burger-icon{
        display: block;
        max-width: 100%;
    }
    .header h1, .header p{
        color: white;
    }
   
   .right-nav .burger-icon:hover{
    
     cursor: pointer;
   }

    .left-nav, .right-nav a{
        display: none;
    }
    
    .content-1 , .content-3{
        color: hsl(237, 23%, 32%);
    }
    .content-1 p, .content-3 p{
        color:hsl(237, 23%, 32%) ;
    }
   .content-2{
    display: flex;
    flex-direction: column;
    color:white;
    height: 100vh;
    margin-bottom: 0rem;
}
   
   .content-20{
    padding-top: 0;
    padding-bottom: 10rem;
   }
   .content-20 h3{
    font-size: 30px;
    text-transform: capitalize;
    font-family: sans-serif;
   }
   .content-20-Mobile{
    color: hsl(240, 2%, 79%);
   }
   
   .content-2 img{
    max-width: 100%;
    margin-bottom: 4rem;
   }
   .content-3{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-top:0;
    padding-bottom: 2rem;
    padding-right: 0;
   }
   .content-30{
    
    padding-top: 0;
   }
   .content-30 h3{
     font-size: 25px;
    
   }
    .content-30 p{
        font-size: 16px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        
    }
    .footer p{
        font-size: 20px;
        padding-top: 1.5rem;
        font-weight: bold;
    }
    .footer ul li{
        font-size: 16px;
    }
}












